<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
	<appSettings name="browser" value ="chrome" />
	<appSettings name="tool" value ="playwright" />
	<appSettings name="cognizantProduct" value ="MES" />
	<appSettings name="prodVersion" value ="1.0" />
</configuration>