<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="WebAppSettings" type="System.Configuration.NameValueSectionHandler"/>
		<section name="APISettings" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>
	<WebAppSettings>
		<add key="browser" value="chrome"/>
		<add key="url" value="https://the-internet.herokuapp.com/"/>
		<add key="automationtool" value="selenium"/>
	</WebAppSettings>
	<APISettings>
		<add key="url" value="https://restful-booker.herokuapp.com"/>
		<add key="port" value=""/>
		
	</APISettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
